body {
	font-family: sans-serif;
	color: #000000;
	font-size: medium;
	background-color: #FFFFFF;
}

.jednicky {
	font-family: sans-serif;
	color: red;
	font-size: medium;
}

.dvojky {
	font-family: sans-serif;
	color: blue;
	font-size: medium;
}

.trojky {
	font-family: sans-serif;
	color: green;
	font-size: medium;
}

.jednickypucek {
	font-family: sans-serif;
	color: red;
	font-size: medium;
	background-color: #FFEE00;
}

.dvojkypucek {
	font-family: sans-serif;
	color: blue;
	font-size: medium;
	background-color: #FF7744;
}

.trojkypucek {
	font-family: sans-serif;
	color: green;
	font-size: medium;
	background-color: #FFAA44;
}